.rooms-list {
  display: flex;
  align-items: center;

  &-container {
    min-height: 250px;
  }

  &__no-rooms {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-room {
    padding-bottom: 20px;
    color: grey;
  }
}